cache/*
!cache/.htaccess
data/database/*
!data/database/default
!data/database/.htaccess
data/media/*
!data/media/index.html
data/thumbnails/*
!data/thumbnails/index.html
data/tmp_media/*
!data/tmp_media/index.html
data/tmp_thumbnails/*
!data/tmp_thumbnails/index.html
config.php

Dockerfile
docker-compose.yml

.data
