<!-- Template file for Flash Movies -->
<table cellpadding="1" cellspacing="0" border="0">
  <tr>
    <td bgcolor="#000000">
	  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0"{width_height} />
      <param name="movie" value="{media_src}">
      <param name="quality" value="high">
      <param name="play" value="true">
      <param name="scale" value="false">
      <embed src="{media_src}" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash"{width_height}></embed></object></td>
  </tr>
</table>