<form method="post" action="{url_member}" enctype="multipart/form-data" onsubmit="uploadbutton.disabled=true;">
  <input type="hidden" name="action" value="deleteimage" />
  <input type="hidden" name="image_id" value="{image_id}" />
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
    <tr> 
      <td valign="top" class="head1"> 
        <table width="100%" border="0" cellpadding="4" cellspacing="0">
          <tr> 
            <td valign="top" class="head1">{lang_delete_image}</td>
          </tr>
          <tr> 
            <td class="row2">{lang_delete_image_confirm}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p align="center"> 
    <input type="submit" name="uploadbutton" value="{lang_yes}" class="button" />
    <input type="button" value="{lang_no}" class="button" onclick="javascript:history.go(-1)" />
  </p>
</form>