<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tr> 
    <td valign="top" class="head1"> 
      <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <tr> 
          <td valign="top" class="head1">{lang_agreement}</td>
        </tr>
        <tr> 
          <td class="row2">{lang_agreement_terms}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
<table border="0" cellspacing="1" cellpadding="1" align="center">
  <tr>
    <td>
      <form method="post" action="{url_register}">
	    <input type="hidden" name="action" value="register" />
        <input type="submit" value="{lang_agree}" class="button" />
      </form>
	</td>
    <td>
      <form method="post" action="{url_home}">
        <input type="submit" value="{lang_agree_not}" class="button" />
      </form>
    </td>
  </tr>
</table>
